{
    "openapi": "3.0.0",
    "info": {
        "title": "VAT API v1",
        "description": "API for VAT UID validation, state retrieval, history, and search.",
        "contact": {
            "email": "support@theconcept-technologies.com"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.taxora.io/v1",
            "description": "VAT API Server"
        }
    ],
    "paths": {
        "/v1/analytics": {
            "get": {
                "tags": [
                    "Company"
                ],
                "summary": "Get analytics for the authenticated user's company",
                "description": "Returns analytics data for the authenticated user's company",
                "operationId": "6414d44e304a7e4fd815f0519f6ac12d",
                "responses": {
                    "200": {
                        "description": "Company retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Not authorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/v1/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "User Login",
                "description": "Authenticates the user and returns an access token.",
                "operationId": "8c0c5721bd4d6c49920dd516eaee6637",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "description": "User email address",
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    },
                                    "password": {
                                        "description": "User password",
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful login",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "access_token": {
                                            "description": "Access token for authenticated requests",
                                            "type": "string",
                                            "example": "<your-jwt-token>"
                                        },
                                        "token_type": {
                                            "description": "Token type",
                                            "type": "string",
                                            "example": "Bearer"
                                        },
                                        "expires_in": {
                                            "description": "Token expiration time in seconds",
                                            "type": "integer",
                                            "example": 3600
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation error"
                    },
                    "401": {
                        "description": "Unauthorized - Invalid credentials"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/v1/refresh": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Refresh Access Token",
                "description": "Deletes the existing token and generates a new one.",
                "operationId": "994ecc43ada29d9ee73b66d721be1a5d",
                "responses": {
                    "200": {
                        "description": "Successful token refresh",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "access_token": {
                                            "description": "New access token",
                                            "type": "string",
                                            "example": "Bearer <new-access-token>"
                                        },
                                        "token_type": {
                                            "description": "Token type",
                                            "type": "string",
                                            "example": "Bearer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/v1/company": {
            "get": {
                "tags": [
                    "Company"
                ],
                "summary": "Get the authenticated user's company",
                "description": "Returns the company information for the authenticated user",
                "operationId": "3d4a674ad6e3a7edcfb85a62eae8016c",
                "responses": {
                    "200": {
                        "description": "Company retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Not authorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Company"
                ],
                "summary": "Update a company",
                "description": "Updates an existing company",
                "operationId": "de549d7bcb0a00698c7e775d597cac74",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "Updated Company Name"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Company updated successfully"
                    },
                    "422": {
                        "description": "Validation failed"
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Company"
                ],
                "summary": "Deactivate company account and delete allowable data",
                "description": "Deactivates all auth access, deletes deletable data, and preserves subscriptions, orders, journals, and VAT requests.",
                "operationId": "68bfaa3178cfc36ea473de4fc5a977b5",
                "responses": {
                    "200": {
                        "description": "Company deactivated"
                    },
                    "401": {
                        "description": "Not authorized"
                    },
                    "403": {
                        "description": "Not enough permissions"
                    },
                    "500": {
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/v1/company/api-key": {
            "put": {
                "tags": [
                    "Company"
                ],
                "summary": "Create company API key",
                "operationId": "a22923e4648772bd55a5f37d6f525748",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Staging Key"
                                    },
                                    "environment": {
                                        "description": "Target environment (default: LIVE)",
                                        "type": "string",
                                        "enum": [
                                            "LIVE",
                                            "SANDBOX"
                                        ],
                                        "example": "SANDBOX"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "API key created"
                    },
                    "401": {
                        "description": "Not authorized"
                    },
                    "422": {
                        "description": "Unable to resolve environment"
                    },
                    "500": {
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/v1/company/api-requests": {
            "get": {
                "tags": [
                    "Company"
                ],
                "summary": "Get API requests for the authenticated user's company",
                "description": "Retrieves all API requests",
                "operationId": "c2f2b40b9cba7309aab870b66f88ee0b",
                "parameters": [
                    {
                        "name": "environment",
                        "in": "query",
                        "description": "Filter by environment (default: LIVE)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "LIVE",
                                "SANDBOX"
                            ],
                            "example": "SANDBOX"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "API requests retrieved successfully"
                    },
                    "401": {
                        "description": "Not authorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/v1/company/current-api-group": {
            "get": {
                "tags": [
                    "Company"
                ],
                "summary": "Get current API request group",
                "operationId": "2ce5991ac2d2f1808176dd7d6f16621c",
                "parameters": [
                    {
                        "name": "environment",
                        "in": "query",
                        "description": "Filter by environment (default: LIVE)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "LIVE",
                                "SANDBOX"
                            ],
                            "example": "SANDBOX"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Current API request group retrieved"
                    },
                    "401": {
                        "description": "Not authorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/v1/company/users": {
            "get": {
                "tags": [
                    "Company"
                ],
                "summary": "List users of the current company",
                "description": "Returns all users that belong to the authenticated user's company. Requires Merchant Admin or Readonly permissions.",
                "operationId": "7b55c9dbd326a6a03879bfba58625f80",
                "responses": {
                    "200": {
                        "description": "Users retrieved successfully"
                    },
                    "401": {
                        "description": "Not authorized"
                    },
                    "403": {
                        "description": "Not enough permissions"
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/v1/company/user": {
            "put": {
                "tags": [
                    "Company"
                ],
                "summary": "Create a new user within the current company",
                "description": "Creates an AUTH type user in the current company and optionally assigns roles. Only Merchant Admins can create users.",
                "operationId": "89bc5ffbf3e801991d119f6bd9db029e",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password",
                                    "password_confirmation"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Jane Doe"
                                    },
                                    "firstName": {
                                        "type": "string",
                                        "example": "Jane"
                                    },
                                    "lastName": {
                                        "type": "string",
                                        "example": "Doe"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "jane@company.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "StrongP@ssw0rd"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "StrongP@ssw0rd"
                                    },
                                    "state": {
                                        "description": "User state; defaults to 'active'",
                                        "type": "string",
                                        "example": "active"
                                    },
                                    "roles": {
                                        "description": "List of role identifiers to assign. Each item can be a role ID (integer) or a role name (string), e.g. 'backend-merchant-admin'.",
                                        "type": "array",
                                        "items": {
                                            "oneOf": [
                                                {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                {
                                                    "type": "string",
                                                    "example": "backend-merchant-admin"
                                                }
                                            ]
                                        },
                                        "example": [
                                            "backend-merchant-admin",
                                            2
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "User created successfully"
                    },
                    "401": {
                        "description": "Not authorized"
                    },
                    "403": {
                        "description": "Not enough permissions"
                    },
                    "422": {
                        "description": "Validation failed"
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/v1/vat/validate": {
            "post": {
                "tags": [
                    "VAT"
                ],
                "summary": "Validate a VAT UID",
                "description": "Checks if a VAT UID is valid.",
                "operationId": "43a39536cf6714e12f99cf2910b92043",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "vat_uid"
                                ],
                                "properties": {
                                    "vat_uid": {
                                        "description": "The VAT UID to validate",
                                        "type": "string",
                                        "example": "ATU12345678"
                                    },
                                    "company_name": {
                                        "description": "The company name to validate against the VAT UID",
                                        "type": "string",
                                        "example": "Example Company GmbH"
                                    },
                                    "provider": {
                                        "description": "The VAT provider to use for validation. Possible values: 'fon' (Fon), 'vies' (Vies), 'uk_hmrc' (UK HMRC), 'ai_search' (AI Search), 'fon_vies_ai_search' (Fon + Vies + AI Search), 'uk_hmrc_ai_search' (UK HMRC + AI Search), 'fon_ai_search' (Fon + AI Search), 'fon_vies' (Fon + Vies), 'vies_ai_search' (Vies + AI Search). Default is null.",
                                        "type": "string",
                                        "example": "vies"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "VAT UID is valid",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/VatResource"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid input"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/v1/vat/validate-multiple": {
            "post": {
                "tags": [
                    "VAT"
                ],
                "summary": "Validate multiple VAT UIDs",
                "description": "Checks if multiple VAT UIDs are valid and returns their validation status.",
                "operationId": "8041f39590ae674006068ac6728a42ea",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "vat_uids"
                                ],
                                "properties": {
                                    "vat_uids": {
                                        "description": "An array of VAT UIDs to validate",
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "example": "ATU12345678"
                                        }
                                    },
                                    "company_names": {
                                        "description": "An optional array of company names to validate against the VAT UIDs (order should match vat_uids array)",
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "example": "Example Company GmbH"
                                        }
                                    },
                                    "provider": {
                                        "description": "The VAT provider to use for validation. Possible values: 'fon' (Fon), 'vies' (Vies), 'uk_hmrc' (UK HMRC), 'ai_search' (AI Search), 'fon_vies_ai_search' (Fon + Vies + AI Search), 'uk_hmrc_ai_search' (UK HMRC + AI Search), 'fon_ai_search' (Fon + AI Search), 'fon_vies' (Fon + Vies), 'vies_ai_search' (Vies + AI Search). Default is null.",
                                        "type": "string",
                                        "example": "vies"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "List of validated VAT UIDs",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/VatResource"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid input"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/v1/vat/validate-schema": {
            "post": {
                "tags": [
                    "VAT"
                ],
                "summary": "Validate VAT UID Schema",
                "description": "Validates if the given VAT UID follows the correct format and schema based on country-specific VAT rules.",
                "operationId": "0c6f5ab7ce400a008bcbbe256b230fa5",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "vat_uid"
                                ],
                                "properties": {
                                    "vat_uid": {
                                        "description": "The VAT UID to be validated",
                                        "type": "string",
                                        "maxLength": 15,
                                        "example": "ATU12345678"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "VAT UID validation result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "valid": {
                                                    "description": "Indicates whether the VAT UID is valid",
                                                    "type": "boolean",
                                                    "example": true
                                                },
                                                "message": {
                                                    "description": "Descriptive validation message",
                                                    "type": "string",
                                                    "example": "Valid VAT UID."
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request - Invalid Input",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Invalid format: A VAT UID must start with two uppercase letters."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Unexpected error occurred."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/v1/vat/state": {
            "post": {
                "tags": [
                    "VAT"
                ],
                "summary": "Get the state of a VAT UID",
                "description": "Retrieves the current state of a VAT UID.",
                "operationId": "c2d2868b5628ecc5ec3e4eb03642988c",
                "parameters": [
                    {
                        "name": "vat_uid",
                        "in": "query",
                        "description": "VAT UID to check",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "ATU12345678"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "VAT State retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "state": {
                                            "type": "string",
                                            "example": "VALID"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid VAT UID"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/v1/vat/history": {
            "post": {
                "tags": [
                    "VAT"
                ],
                "summary": "Get VAT history",
                "description": "Retrieves the history of a VAT UID.",
                "operationId": "56a36f5aba3cca9c80ade16dfbaf3afb",
                "parameters": [
                    {
                        "name": "vat_uid",
                        "in": "query",
                        "description": "VAT UID to retrieve history for (optional)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "ATU12345678"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "VAT History retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/VatCollection"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/v1/vat/history/{uuid}": {
            "get": {
                "tags": [
                    "VAT"
                ],
                "summary": "Get VAT history detail",
                "description": "Retrieves a single VAT history entry by its UUID. Supports fetching from sandbox when environment is SANDBOX.",
                "operationId": "49791e9a7d381291252c94b3a2101f59",
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of the VAT history entry",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "environment",
                        "in": "query",
                        "description": "Select the environment to read from. Defaults to LIVE.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "LIVE",
                                "SANDBOX",
                                "DEV"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "VAT history entry retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/VatResource"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Not authorized"
                    },
                    "404": {
                        "description": "History entry not found"
                    },
                    "503": {
                        "description": "Sandbox not configured"
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/v1/vat/search": {
            "post": {
                "tags": [
                    "VAT"
                ],
                "summary": "Search VAT records",
                "description": "Find VAT records based on search filters.",
                "operationId": "8b7fad4d7378d51885af890961d39f90",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search term to filter VAT records",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "Company Name"
                        }
                    },
                    {
                        "name": "perPage",
                        "in": "query",
                        "description": "Number of results per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 30
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "VAT search results",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/VatCollection"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/v1/vat/certificate": {
            "post": {
                "tags": [
                    "VAT"
                ],
                "summary": "Generate VAT Confirmation Certificate",
                "description": "Generates a downloadable PDF certificate for a validated VAT ID based on the provided UUID. The certificate language defaults to English if not specified.",
                "operationId": "generateVatCertificate",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "uuid"
                                ],
                                "properties": {
                                    "uuid": {
                                        "description": "Unique identifier of the VAT validation request.",
                                        "type": "string",
                                        "example": "d7b4f3a9-8c23-4f8d-94a1-b1a90c8f254c"
                                    },
                                    "lang": {
                                        "description": "(Optional) Language for the generated PDF certificate. Allowed values: 'en' (English), 'de' (German). Defaults to 'en' if not provided.",
                                        "type": "string",
                                        "example": "en",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "PDF file generated successfully",
                        "headers": {
                            "Content-Type": {
                                "description": "application/pdf",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/pdf": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "The given data was invalid."
                                        },
                                        "errors": {
                                            "properties": {
                                                "uuid": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "The selected uuid is invalid."
                                                    }
                                                },
                                                "lang": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "The selected language is invalid. Allowed values: 'en', 'de'."
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "UUID not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "UUID not found."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Internal Server Error."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/v1/vat/certificates/bulk-export": {
            "post": {
                "tags": [
                    "VAT"
                ],
                "summary": "Initiate Bulk Export of VAT Certificates",
                "description": "Initiates an asynchronous process to export multiple VAT certificates for a company within a date range. The process generates a ZIP file containing all certificates and sends an email with a download link when complete.",
                "operationId": "initiateVatCertificatesBulkExport",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "from_date",
                                    "to_date"
                                ],
                                "properties": {
                                    "from_date": {
                                        "description": "Start date for the export range (YYYY-MM-DD)",
                                        "type": "string",
                                        "format": "date",
                                        "example": "2023-01-01"
                                    },
                                    "to_date": {
                                        "description": "End date for the export range (YYYY-MM-DD)",
                                        "type": "string",
                                        "format": "date",
                                        "example": "2023-12-31"
                                    },
                                    "countries": {
                                        "description": "Optional array of country codes to filter by (e.g. ['DE', 'AT'])",
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "nullable": true
                                    },
                                    "lang": {
                                        "description": "Optional language for the certificates. Allowed values: 'en' (English), 'de' (German). Defaults to 'en' if not provided.",
                                        "type": "string",
                                        "example": "en",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "Export process initiated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "VAT certificates export initiated. You will receive an email with a download link when the export is complete."
                                        },
                                        "export_id": {
                                            "description": "Unique identifier for the export job",
                                            "type": "string",
                                            "example": "f47ac10b-58cc-4372-a567-0e02b2c3d479"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "The given data was invalid."
                                        },
                                        "errors": {
                                            "properties": {
                                                "from_date": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "The from date field is required."
                                                    }
                                                },
                                                "to_date": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "The to date field is required."
                                                    }
                                                },
                                                "lang": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "The selected language is invalid. Allowed values: 'en', 'de'."
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Internal Server Error."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/v1/vat/certificates/download/{exportId}": {
            "get": {
                "tags": [
                    "VAT"
                ],
                "summary": "Download VAT Certificates Bulk Export",
                "description": "Downloads a ZIP file containing VAT certificates that were previously exported. The export must belong to the company of the authenticated user.",
                "operationId": "downloadVatCertificatesBulkExport",
                "parameters": [
                    {
                        "name": "exportId",
                        "in": "path",
                        "description": "The unique identifier of the export job",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ZIP file containing VAT certificates",
                        "headers": {
                            "Content-Type": {
                                "description": "application/zip",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/zip": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Invalid export ID"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Export job does not belong to the company"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Export job not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Internal Server Error"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/v1/vat/verify/{uuid}": {
            "get": {
                "tags": [
                    "VAT"
                ],
                "summary": "Verify a VAT certificate",
                "description": "Validates the verification token and returns the VAT request data associated with the certificate UUID.",
                "operationId": "1f84d38d186ec9e8c612b179dc15ae3b",
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of the VAT request history record",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "token",
                        "in": "query",
                        "description": "HMAC verification token from the QR code",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Verification successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/VatResource"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation error"
                    },
                    "403": {
                        "description": "Invalid verification token"
                    },
                    "404": {
                        "description": "VAT verification record not found"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "UserResource": {
                "title": "User Resource",
                "description": "Authenticated user resource with permissions",
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "uuid": {
                        "type": "string",
                        "format": "uuid",
                        "example": "550e8400-e29b-41d4-a716-446655440000"
                    },
                    "company_uuid": {
                        "type": "string",
                        "format": "uuid",
                        "nullable": true
                    },
                    "company": {
                        "type": "object",
                        "nullable": true
                    },
                    "stripe_id": {
                        "type": "string",
                        "nullable": true
                    },
                    "pm_type": {
                        "type": "string",
                        "nullable": true
                    },
                    "pm_last_four": {
                        "type": "string",
                        "nullable": true
                    },
                    "trial_ends_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "name": {
                        "type": "string",
                        "example": "John Doe"
                    },
                    "email": {
                        "type": "string",
                        "format": "email",
                        "example": "john@example.com"
                    },
                    "state": {
                        "type": "string",
                        "example": "active"
                    },
                    "type": {
                        "type": "string",
                        "example": "default"
                    },
                    "email_verified_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "current_team_id": {
                        "type": "integer",
                        "nullable": true
                    },
                    "permissions": {
                        "description": "List of permissions assigned to the user",
                        "type": "array",
                        "items": {
                            "type": "object"
                        }
                    },
                    "avatar_url": {
                        "type": "string",
                        "nullable": true
                    },
                    "profile": {
                        "type": "object"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "type": "object"
            },
            "VatSandboxTestData": {
                "title": "Sandbox VAT Test Data",
                "description": "Static VAT UIDs available in sandbox and development environments for testing integration flows.",
                "properties": {
                    "valid_vat_uids": {
                        "description": "VAT numbers that always return a valid response in sandbox/development mode.",
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "example": [
                            "ATU12345678",
                            "DE123456789",
                            "FR99345678901",
                            "IT12398765432",
                            "GB999999973"
                        ]
                    },
                    "invalid_vat_uids": {
                        "description": "VAT numbers that always return an invalid response in sandbox/development mode.",
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "example": [
                            "ATU99999999",
                            "DE000000000",
                            "FR00000000000",
                            "IT00000000000",
                            "GB000000000"
                        ]
                    },
                    "notes": {
                        "description": "Additional guidance for consumers using the sandbox test UIDs.",
                        "type": "string",
                        "example": "Use these VAT numbers when calling /v1/vat/validate or /v1/vat/validate-multiple in sandbox or development environments to receive deterministic mock responses."
                    }
                },
                "type": "object"
            },
            "VatCollection": {
                "title": "VAT Collection",
                "description": "A collection of VAT records",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/VatResource"
                        }
                    },
                    "links": {
                        "properties": {
                            "self": {
                                "type": "string",
                                "example": "https://api.taxora.io/api/v1/vat/history"
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "VatResource": {
                "title": "VAT Resource",
                "description": "Response structure for a VAT request",
                "properties": {
                    "uuid": {
                        "description": "Unique identifier for the VAT record",
                        "type": "string",
                        "format": "uuid",
                        "example": "550e8400-e29b-41d4-a716-446655440000"
                    },
                    "vat_uid": {
                        "description": "The validated VAT UID",
                        "type": "string",
                        "example": "ATU12345678"
                    },
                    "state": {
                        "description": "State of the VAT number (e.g., VALID, INVALID, NOT_FOUND)",
                        "type": "string",
                        "example": "VALID"
                    },
                    "country_code": {
                        "description": "Country code of the VAT registration",
                        "type": "string",
                        "example": "AT"
                    },
                    "company_name": {
                        "description": "Registered company name for the VAT number",
                        "type": "string",
                        "example": "Example GmbH"
                    },
                    "company_address": {
                        "description": "Registered company address",
                        "type": "string",
                        "example": "Musterstraße 12, 1010 Wien, Austria"
                    },
                    "provider": {
                        "description": "Upstream provider used to process the VAT request when available",
                        "type": "string",
                        "example": "vies",
                        "nullable": true
                    },
                    "used_providers": {
                        "description": "Collection of upstream providers that participated in the validation run",
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "example": [
                            "fon",
                            "vies"
                        ],
                        "nullable": true
                    },
                    "requested_company_name": {
                        "description": "Company name provided during the VAT validation request when recorded",
                        "type": "string",
                        "example": "Example Company GmbH",
                        "nullable": true
                    },
                    "checked_at": {
                        "description": "Timestamp of the last VAT check",
                        "type": "string",
                        "format": "date-time",
                        "example": "2024-01-19T12:45:00Z"
                    },
                    "environment": {
                        "description": "Environment where the VAT validation was executed (e.g. LIVE or SANDBOX)",
                        "type": "string",
                        "example": "LIVE"
                    },
                    "score": {
                        "description": "Risk Score! 100 OK, 50 Could be fraud...",
                        "type": "number",
                        "format": "float",
                        "example": 100
                    },
                    "breakdown": {
                        "description": "Detailed breakdown of the score calculation",
                        "type": "array",
                        "items": {
                            "properties": {
                                "type": {
                                    "type": "string",
                                    "example": "AI Name Comparison"
                                },
                                "step_type": {
                                    "type": "string",
                                    "example": "AiNameComparisonStep"
                                },
                                "score": {
                                    "type": "integer",
                                    "example": 25
                                },
                                "valid": {
                                    "type": "boolean",
                                    "example": true
                                },
                                "summary": {
                                    "type": "string",
                                    "example": "Company names match"
                                },
                                "code": {
                                    "type": "string",
                                    "example": "MATCH"
                                },
                                "details": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "notes": {
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "provider_vat_state": {
                        "description": "Latest VAT state reported by the upstream provider when available",
                        "type": "string",
                        "example": "VALID",
                        "nullable": true
                    },
                    "provider_note": {
                        "description": "Explanatory note included when the provider state differs from the validation result",
                        "type": "string",
                        "example": "Provider reports VAT Number is valid, but the check failed (e.g., name/address mismatch).",
                        "nullable": true
                    }
                },
                "type": "object"
            }
        },
        "securitySchemes": {
            "ApiKeyAuth": {
                "type": "apiKey",
                "description": "API key required for all requests. Provide the key via the x-api-key header.",
                "name": "x-api-key",
                "in": "header"
            },
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "JWT",
                "description": "JWT access token returned by /v1/login. Use as Authorization: Bearer <token>."
            }
        }
    },
    "tags": [
        {
            "name": "Company",
            "description": "API Endpoints for managing companies"
        },
        {
            "name": "VAT",
            "description": "Endpoints related to VAT operations. Sandbox & development environment users can reference the VatSandboxTestData schema for ready-to-use test VAT UIDs."
        },
        {
            "name": "Authentication",
            "description": "Authentication"
        }
    ],
    "security": [
        {
            "ApiKeyAuth": []
        }
    ]
}