{
    "openapi": "3.0.0",
    "info": {
        "title": "VAT API v1",
        "description": "API for VAT UID validation, state retrieval, history, and search.",
        "contact": {
            "email": "support@theconcept-technologies.com"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://sandbox.taxora.io/v1",
            "description": "VAT API Server"
        }
    ],
    "paths": {
        "/v1/analytics": {
            "get": {
                "tags": [
                    "Company"
                ],
                "summary": "Get analytics for the authenticated user's company",
                "description": "Returns analytics data for the authenticated user's company",
                "operationId": "6414d44e304a7e4fd815f0519f6ac12d",
                "responses": {
                    "200": {
                        "description": "Company retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Not authorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/v1/analytics/insights": {
            "get": {
                "tags": [
                    "Company"
                ],
                "summary": "Get advanced analytics insights",
                "description": "Returns validation, geographic, AI, time-based, and business insights with optional filters.",
                "operationId": "7573ee35cc371033ec4a2e404b0858b1",
                "parameters": [
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Start date (ISO 8601)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "End date (ISO 8601)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "account_id",
                        "in": "query",
                        "description": "Filter analytics for a specific account/company ID",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "Filter analytics by API key (plaintext or hashed)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "critical_threshold",
                        "in": "query",
                        "description": "Failure rate threshold for highlighting critical countries (0-1)",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Analytics insights payload",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Not authorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/v1/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "User Login",
                "description": "Authenticates the user and returns an access token.",
                "operationId": "8c0c5721bd4d6c49920dd516eaee6637",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "description": "User email address. Required when client_id is not provided.",
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    },
                                    "client_id": {
                                        "description": "API user identifier. Required when email is not provided.",
                                        "type": "string",
                                        "example": "client_abc123"
                                    },
                                    "password": {
                                        "description": "User password or client secret",
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful login",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "access_token": {
                                            "description": "Access token for authenticated requests",
                                            "type": "string",
                                            "example": "<your-jwt-token>"
                                        },
                                        "token_type": {
                                            "description": "Token type",
                                            "type": "string",
                                            "example": "Bearer"
                                        },
                                        "expires_in": {
                                            "description": "Token expiration time in seconds",
                                            "type": "integer",
                                            "example": 3600
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation error"
                    },
                    "401": {
                        "description": "Unauthorized - Invalid credentials"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/v1/refresh": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Refresh Access Token",
                "description": "Deletes the existing token and generates a new one.",
                "operationId": "994ecc43ada29d9ee73b66d721be1a5d",
                "responses": {
                    "200": {
                        "description": "Successful token refresh",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "access_token": {
                                            "description": "New access token",
                                            "type": "string",
                                            "example": "Bearer <new-access-token>"
                                        },
                                        "token_type": {
                                            "description": "Token type",
                                            "type": "string",
                                            "example": "Bearer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/v1/company": {
            "get": {
                "tags": [
                    "Company"
                ],
                "summary": "Get the authenticated user's company",
                "description": "Returns the company information for the authenticated user",
                "operationId": "3d4a674ad6e3a7edcfb85a62eae8016c",
                "responses": {
                    "200": {
                        "description": "Company retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/CompanyResource"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Not authorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Company"
                ],
                "summary": "Update a company",
                "description": "Updates an existing company",
                "operationId": "de549d7bcb0a00698c7e775d597cac74",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "Updated Company Name"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Company updated successfully"
                    },
                    "422": {
                        "description": "Validation failed"
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Company"
                ],
                "summary": "Deactivate company account and delete allowable data",
                "description": "Deactivates all auth access, deletes deletable data, and preserves subscriptions, orders, journals, and VAT requests.",
                "operationId": "68bfaa3178cfc36ea473de4fc5a977b5",
                "responses": {
                    "200": {
                        "description": "Company deactivated"
                    },
                    "401": {
                        "description": "Not authorized"
                    },
                    "403": {
                        "description": "Not enough permissions"
                    },
                    "500": {
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/v1/company/api-key": {
            "put": {
                "tags": [
                    "Company"
                ],
                "summary": "Create company API key",
                "operationId": "a22923e4648772bd55a5f37d6f525748",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Staging Key"
                                    },
                                    "environment": {
                                        "description": "Target environment (default: LIVE)",
                                        "type": "string",
                                        "enum": [
                                            "LIVE",
                                            "SANDBOX"
                                        ],
                                        "example": "SANDBOX"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "API key created"
                    },
                    "401": {
                        "description": "Not authorized"
                    },
                    "422": {
                        "description": "Unable to resolve environment"
                    },
                    "500": {
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/v1/company/api-requests": {
            "get": {
                "tags": [
                    "Company"
                ],
                "summary": "Get API requests for the authenticated user's company",
                "description": "Retrieves all API requests",
                "operationId": "c2f2b40b9cba7309aab870b66f88ee0b",
                "parameters": [
                    {
                        "name": "environment",
                        "in": "query",
                        "description": "Filter by environment (default: LIVE)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "LIVE",
                                "SANDBOX"
                            ],
                            "example": "SANDBOX"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "API requests retrieved successfully"
                    },
                    "401": {
                        "description": "Not authorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/v1/company/current-api-group": {
            "get": {
                "tags": [
                    "Company"
                ],
                "summary": "Get current API request group",
                "operationId": "2ce5991ac2d2f1808176dd7d6f16621c",
                "parameters": [
                    {
                        "name": "environment",
                        "in": "query",
                        "description": "Filter by environment (default: LIVE)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "LIVE",
                                "SANDBOX"
                            ],
                            "example": "SANDBOX"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Current API request group retrieved"
                    },
                    "401": {
                        "description": "Not authorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/v1/company/users": {
            "get": {
                "tags": [
                    "Company"
                ],
                "summary": "List users of the current company",
                "description": "Returns all users that belong to the authenticated user's company. Requires Merchant Admin or Readonly permissions.",
                "operationId": "7b55c9dbd326a6a03879bfba58625f80",
                "responses": {
                    "200": {
                        "description": "Users retrieved successfully"
                    },
                    "401": {
                        "description": "Not authorized"
                    },
                    "403": {
                        "description": "Not enough permissions"
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/v1/company/user": {
            "put": {
                "tags": [
                    "Company"
                ],
                "summary": "Create a new user within the current company",
                "description": "Creates an AUTH type user in the current company and optionally assigns roles. Only Merchant Admins can create users.",
                "operationId": "89bc5ffbf3e801991d119f6bd9db029e",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password",
                                    "password_confirmation"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Jane Doe"
                                    },
                                    "firstName": {
                                        "type": "string",
                                        "example": "Jane"
                                    },
                                    "lastName": {
                                        "type": "string",
                                        "example": "Doe"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "jane@company.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "StrongP@ssw0rd"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "StrongP@ssw0rd"
                                    },
                                    "state": {
                                        "description": "User state; defaults to 'active'",
                                        "type": "string",
                                        "example": "active"
                                    },
                                    "roles": {
                                        "description": "List of role identifiers to assign. Each item can be a role ID (integer) or a role name (string), e.g. 'backend-merchant-admin'.",
                                        "type": "array",
                                        "items": {
                                            "oneOf": [
                                                {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                {
                                                    "type": "string",
                                                    "example": "backend-merchant-admin"
                                                }
                                            ]
                                        },
                                        "example": [
                                            "backend-merchant-admin",
                                            2
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "User created successfully"
                    },
                    "401": {
                        "description": "Not authorized"
                    },
                    "403": {
                        "description": "Not enough permissions"
                    },
                    "422": {
                        "description": "Validation failed"
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/v1/reports": {
            "get": {
                "tags": [
                    "Reports"
                ],
                "summary": "List report runs for the authenticated company",
                "operationId": "4209380269295829e80839781962d110",
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Items per page (default 25)",
                        "schema": {
                            "type": "integer",
                            "maximum": 100,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "job_id",
                        "in": "query",
                        "description": "Filter report runs by report job id",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "generated_only",
                        "in": "query",
                        "description": "Return only runs that have a generated report file",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of report runs",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "string",
                                                                "format": "uuid"
                                                            },
                                                            "job_id": {
                                                                "type": "string",
                                                                "format": "uuid"
                                                            },
                                                            "type": {
                                                                "type": "string",
                                                                "example": "vat_certificates_list"
                                                            },
                                                            "job_name": {
                                                                "type": "string",
                                                                "nullable": true
                                                            },
                                                            "state": {
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "type": "string",
                                                                "nullable": true
                                                            },
                                                            "params": {
                                                                "type": "object"
                                                            },
                                                            "scheduled_at": {
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "nullable": true
                                                            },
                                                            "started_at": {
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "nullable": true
                                                            },
                                                            "finished_at": {
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "nullable": true
                                                            },
                                                            "file_disk": {
                                                                "type": "string",
                                                                "nullable": true
                                                            },
                                                            "file_path": {
                                                                "type": "string",
                                                                "nullable": true
                                                            },
                                                            "file_name": {
                                                                "type": "string",
                                                                "nullable": true
                                                            },
                                                            "file_mime": {
                                                                "type": "string",
                                                                "nullable": true
                                                            },
                                                            "file_size": {
                                                                "type": "integer",
                                                                "nullable": true
                                                            },
                                                            "error_message": {
                                                                "type": "string",
                                                                "nullable": true
                                                            },
                                                            "created_at": {
                                                                "type": "string",
                                                                "format": "date-time"
                                                            },
                                                            "updated_at": {
                                                                "type": "string",
                                                                "format": "date-time"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "current_page": {
                                                    "type": "integer"
                                                },
                                                "per_page": {
                                                    "type": "integer"
                                                },
                                                "total": {
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/v1/reports/runs": {
            "post": {
                "tags": [
                    "Reports"
                ],
                "summary": "Create a report run for the authenticated company",
                "operationId": "f39314a9d43c7a049cc6cdcadd049efa",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "id": {
                                        "type": "string",
                                        "format": "uuid",
                                        "nullable": true
                                    },
                                    "job_id": {
                                        "type": "string",
                                        "format": "uuid"
                                    },
                                    "state": {
                                        "type": "string",
                                        "example": "completed"
                                    },
                                    "params": {
                                        "type": "object"
                                    },
                                    "scheduled_at": {
                                        "type": "string",
                                        "format": "date-time",
                                        "nullable": true
                                    },
                                    "started_at": {
                                        "type": "string",
                                        "format": "date-time",
                                        "nullable": true
                                    },
                                    "finished_at": {
                                        "type": "string",
                                        "format": "date-time",
                                        "nullable": true
                                    },
                                    "result": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "file_disk": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "file_path": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "file_name": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "file_mime": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "file_size": {
                                        "type": "integer",
                                        "nullable": true
                                    },
                                    "error_message": {
                                        "type": "string",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Report run created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request"
                    },
                    "404": {
                        "description": "Report job not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/v1/reports/runs/{id}": {
            "delete": {
                "tags": [
                    "Reports"
                ],
                "summary": "Delete a report run (and its file) for the authenticated company",
                "operationId": "dc2d43f470f39ff42a3cddf8401d6545",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "message": {
                                                    "type": "string",
                                                    "example": "Report run deleted"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid ID"
                    },
                    "404": {
                        "description": "Not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/v1/reports/runs/{id}/download": {
            "get": {
                "tags": [
                    "Reports"
                ],
                "summary": "Download a report run file",
                "operationId": "1e21a213431faf83c01df894ff53fbbb",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Report file",
                        "content": {
                            "application/octet-stream": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid ID"
                    },
                    "404": {
                        "description": "Not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/v1/reports/jobs": {
            "get": {
                "tags": [
                    "Reports"
                ],
                "summary": "List report jobs for the authenticated company",
                "operationId": "857d66ab6df11d161b55e40d034ebea4",
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Items per page (default 25)",
                        "schema": {
                            "type": "integer",
                            "maximum": 100,
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of report jobs",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Reports"
                ],
                "summary": "Create or update a report job including scheduling",
                "operationId": "2c8e67ea08682adafc009c3d80bb4886",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "id": {
                                        "type": "string",
                                        "format": "uuid",
                                        "nullable": true
                                    },
                                    "type": {
                                        "type": "string",
                                        "example": "vat_certificates_bulk"
                                    },
                                    "subtype": {
                                        "type": "string",
                                        "example": "scheduled",
                                        "nullable": true
                                    },
                                    "name": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "params": {
                                        "description": "Job parameters. Common keys: lang (en|de), from_date, to_date, countries, include_documents. Date fields support placeholders: {{last_run_at}}, {{scheduled_at}} or relative strings like 'last monday', 'first day of last month'. Scheduled jobs store schedule metadata under params.schedule.",
                                        "type": "object"
                                    },
                                    "schedule": {
                                        "properties": {
                                            "type": {
                                                "type": "string",
                                                "example": "weekly"
                                            },
                                            "day": {
                                                "type": "integer",
                                                "example": 1
                                            },
                                            "time": {
                                                "type": "string",
                                                "example": "08:00"
                                            }
                                        },
                                        "type": "object",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Report job saved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/v1/reports/jobs/{id}": {
            "get": {
                "tags": [
                    "Reports"
                ],
                "summary": "Get a report job by ID",
                "operationId": "7e67964f4a8cfb0bc46dfee5c05161a0",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Report job details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Report job not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Reports"
                ],
                "summary": "Delete a report job for the authenticated company",
                "operationId": "8b94d6469bb6e5f0e141f4a28d71ebf9",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/v1/vat/validate": {
            "post": {
                "tags": [
                    "VAT"
                ],
                "summary": "Validate a VAT UID",
                "description": "Checks if a VAT UID is valid. If the AI company-name score is near zero and addressLine1 is provided, Taxora retries scoring by using addressLine1 as company-name candidate and keeps the better deterministic result.",
                "operationId": "43a39536cf6714e12f99cf2910b92043",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "vat_uid"
                                ],
                                "properties": {
                                    "vat_uid": {
                                        "description": "The VAT UID to validate",
                                        "type": "string",
                                        "example": "ATU12345678"
                                    },
                                    "company_name": {
                                        "description": "The company name to validate against the VAT UID",
                                        "type": "string",
                                        "example": "Example Company GmbH"
                                    },
                                    "addressLine1": {
                                        "description": "Optional first address line. Used as fallback company-name candidate only when company_name scoring is near zero.",
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "Example Company GmbH",
                                        "nullable": true
                                    },
                                    "addressLine2": {
                                        "description": "Optional second address line.",
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "Second Floor",
                                        "nullable": true
                                    },
                                    "postalCode": {
                                        "description": "Optional postal code.",
                                        "type": "string",
                                        "maxLength": 32,
                                        "example": "1010",
                                        "nullable": true
                                    },
                                    "city": {
                                        "description": "Optional city.",
                                        "type": "string",
                                        "maxLength": 120,
                                        "example": "Vienna",
                                        "nullable": true
                                    },
                                    "countryCode": {
                                        "description": "Optional ISO 3166-1 alpha-2 country code.",
                                        "type": "string",
                                        "maxLength": 2,
                                        "minLength": 2,
                                        "example": "AT",
                                        "nullable": true
                                    },
                                    "provider": {
                                        "description": "The VAT provider to use for validation. Possible values: 'fon' (Fon), 'vies' (Vies), 'uk_hmrc' (UK HMRC), 'ai_search' (AI Search), 'fon_vies_ai_search' (Fon + Vies + AI Search), 'uk_hmrc_ai_search' (UK HMRC + AI Search), 'fon_ai_search' (Fon + AI Search), 'fon_vies' (Fon + Vies), 'vies_ai_search' (Vies + AI Search). Default is null.",
                                        "type": "string",
                                        "example": "vies"
                                    }
                                },
                                "type": "object"
                            },
                            "examples": {
                                "standardCompanyName": {
                                    "summary": "Standard request",
                                    "value": {
                                        "vat_uid": "ATU12345678",
                                        "company_name": "Example Company GmbH",
                                        "provider": "vies"
                                    }
                                },
                                "addressLineFallback": {
                                    "summary": "Fallback case: company is in addressLine1",
                                    "value": {
                                        "vat_uid": "ATU12345678",
                                        "company_name": "John Doe",
                                        "addressLine1": "Example Company GmbH",
                                        "postalCode": "1010",
                                        "city": "Vienna",
                                        "countryCode": "AT",
                                        "provider": "vies"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "VAT UID is valid",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/VatResource"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid input"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/v1/vat/validate-multiple": {
            "post": {
                "tags": [
                    "VAT"
                ],
                "summary": "Validate multiple VAT UIDs",
                "description": "Checks if multiple VAT UIDs are valid and returns their validation status.",
                "operationId": "8041f39590ae674006068ac6728a42ea",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "vat_uids"
                                ],
                                "properties": {
                                    "vat_uids": {
                                        "description": "An array of VAT UIDs to validate",
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "example": "ATU12345678"
                                        }
                                    },
                                    "company_names": {
                                        "description": "An optional array of company names to validate against the VAT UIDs (order should match vat_uids array)",
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "example": "Example Company GmbH"
                                        }
                                    },
                                    "provider": {
                                        "description": "The VAT provider to use for validation. Possible values: 'fon' (Fon), 'vies' (Vies), 'uk_hmrc' (UK HMRC), 'ai_search' (AI Search), 'fon_vies_ai_search' (Fon + Vies + AI Search), 'uk_hmrc_ai_search' (UK HMRC + AI Search), 'fon_ai_search' (Fon + AI Search), 'fon_vies' (Fon + Vies), 'vies_ai_search' (Vies + AI Search). Default is null.",
                                        "type": "string",
                                        "example": "vies"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "List of validated VAT UIDs",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/VatResource"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid input"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/v1/vat/validate-schema": {
            "post": {
                "tags": [
                    "VAT"
                ],
                "summary": "Validate VAT UID Schema",
                "description": "Validates if the given VAT UID follows the correct format and schema based on country-specific VAT rules.",
                "operationId": "0c6f5ab7ce400a008bcbbe256b230fa5",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "vat_uid"
                                ],
                                "properties": {
                                    "vat_uid": {
                                        "description": "The VAT UID to be validated",
                                        "type": "string",
                                        "maxLength": 15,
                                        "example": "ATU12345678"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "VAT UID validation result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "valid": {
                                                    "description": "Indicates whether the VAT UID is valid",
                                                    "type": "boolean",
                                                    "example": true
                                                },
                                                "message": {
                                                    "description": "Descriptive validation message",
                                                    "type": "string",
                                                    "example": "Valid VAT UID."
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request - Invalid Input",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Invalid format: A VAT UID must start with two uppercase letters."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Unexpected error occurred."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/v1/vat/state": {
            "post": {
                "tags": [
                    "VAT"
                ],
                "summary": "Get the state of a VAT UID",
                "description": "Retrieves the current state of a VAT UID.",
                "operationId": "c2d2868b5628ecc5ec3e4eb03642988c",
                "parameters": [
                    {
                        "name": "vat_uid",
                        "in": "query",
                        "description": "VAT UID to check",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "ATU12345678"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "VAT State retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "state": {
                                            "type": "string",
                                            "example": "VALID"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid VAT UID"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/v1/vat/history": {
            "post": {
                "tags": [
                    "VAT"
                ],
                "summary": "Get VAT history",
                "description": "Retrieves VAT history entries. Supports filtering by VAT UID, search term, and date range with pagination.",
                "operationId": "56a36f5aba3cca9c80ade16dfbaf3afb",
                "parameters": [
                    {
                        "name": "vat_uid",
                        "in": "query",
                        "description": "VAT UID to retrieve history for (optional)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "ATU12345678"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search term: if it's a valid VAT UID, performs an exact VAT UID match; otherwise searches by company name",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "Example GmbH"
                        }
                    },
                    {
                        "name": "from_date",
                        "in": "query",
                        "description": "Filter results from this date (YYYY-MM-DD). If no date range is supplied and no VAT UID is specified, defaults to the last 12 months.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "example": "2025-01-01"
                        }
                    },
                    {
                        "name": "to_date",
                        "in": "query",
                        "description": "Filter results up to this date (YYYY-MM-DD). If no date range is supplied and no VAT UID is specified, defaults to the last 12 months.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "example": "2026-01-01"
                        }
                    },
                    {
                        "name": "perPage",
                        "in": "query",
                        "description": "Number of results per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 30
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "VAT History retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/VatCollection"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/v1/vat/history/{uuid}": {
            "get": {
                "tags": [
                    "VAT"
                ],
                "summary": "Get VAT history detail",
                "description": "Retrieves a single VAT history entry by its UUID. Supports fetching from sandbox when environment is SANDBOX.",
                "operationId": "49791e9a7d381291252c94b3a2101f59",
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of the VAT history entry",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "environment",
                        "in": "query",
                        "description": "Select the environment to read from. Defaults to LIVE.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "LIVE",
                                "SANDBOX",
                                "DEV"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "VAT history entry retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/VatResource"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Not authorized"
                    },
                    "404": {
                        "description": "History entry not found"
                    },
                    "503": {
                        "description": "Sandbox not configured"
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/v1/vat/history/fon-xml": {
            "get": {
                "tags": [
                    "VAT"
                ],
                "summary": "Download FON XML for VAT history entries",
                "description": "Returns the FON XML containing only the requested VAT history entries. All entries must belong to the same FON XML document.",
                "operationId": "f405dab0f7e992ac0dd25e4b7d114217",
                "parameters": [
                    {
                        "name": "uuids",
                        "in": "query",
                        "description": "VAT history UUIDs to include",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "format": "uuid"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Filtered FON XML",
                        "content": {
                            "application/xml": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Not authorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Not authorized!"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "History entry not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "VAT history entry not found."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Invalid request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "History entry is not backed by a FON XML document."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/v1/vat/search": {
            "post": {
                "tags": [
                    "VAT"
                ],
                "summary": "Search VAT records",
                "description": "Find VAT records based on search filters.",
                "operationId": "8b7fad4d7378d51885af890961d39f90",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search term to filter VAT records",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "Company Name"
                        }
                    },
                    {
                        "name": "perPage",
                        "in": "query",
                        "description": "Number of results per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 30
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "VAT search results",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/VatCollection"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/v1/vat/certificate": {
            "post": {
                "tags": [
                    "VAT"
                ],
                "summary": "Generate VAT Confirmation Certificate",
                "description": "Generates a downloadable PDF certificate for a validated VAT ID based on the provided UUID. The certificate language defaults to English if not specified.",
                "operationId": "generateVatCertificate",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "uuid"
                                ],
                                "properties": {
                                    "uuid": {
                                        "description": "Unique identifier of the VAT validation request.",
                                        "type": "string",
                                        "example": "d7b4f3a9-8c23-4f8d-94a1-b1a90c8f254c"
                                    },
                                    "lang": {
                                        "description": "(Optional) Language for the generated PDF certificate. Allowed values: 'en' (English), 'de' (German). Defaults to 'en' if not provided.",
                                        "type": "string",
                                        "example": "en",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "PDF file generated successfully",
                        "headers": {
                            "Content-Type": {
                                "description": "application/pdf",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/pdf": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "The given data was invalid."
                                        },
                                        "errors": {
                                            "properties": {
                                                "uuid": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "The selected uuid is invalid."
                                                    }
                                                },
                                                "lang": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "The selected language is invalid. Allowed values: 'en', 'de'."
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "UUID not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "UUID not found."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Internal Server Error."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/v1/vat/certificates/bulk-export": {
            "post": {
                "tags": [
                    "VAT"
                ],
                "summary": "Initiate Bulk Export of VAT Certificates",
                "description": "Initiates an asynchronous process to export multiple VAT certificates for a company within a date range. The process generates a ZIP file containing all certificates and sends an email with a download link when complete.",
                "operationId": "initiateVatCertificatesBulkExport",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "from_date",
                                    "to_date"
                                ],
                                "properties": {
                                    "from_date": {
                                        "description": "Start date for the export range (YYYY-MM-DD)",
                                        "type": "string",
                                        "format": "date",
                                        "example": "2023-01-01"
                                    },
                                    "to_date": {
                                        "description": "End date for the export range (YYYY-MM-DD)",
                                        "type": "string",
                                        "format": "date",
                                        "example": "2023-12-31"
                                    },
                                    "countries": {
                                        "description": "Optional array of country codes to filter by (e.g. ['DE', 'AT'])",
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "nullable": true
                                    },
                                    "lang": {
                                        "description": "Optional language for the certificates. Allowed values: 'en' (English), 'de' (German). Defaults to 'en' if not provided.",
                                        "type": "string",
                                        "example": "en",
                                        "nullable": true
                                    },
                                    "include_documents": {
                                        "description": "Include provider documents (combined XML, screenshots as zip entries) in the export archive",
                                        "type": "boolean",
                                        "example": false
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "Export process initiated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "VAT certificates export initiated. You will receive an email with a download link when the export is complete."
                                        },
                                        "export_id": {
                                            "description": "Unique identifier for the export job",
                                            "type": "string",
                                            "example": "f47ac10b-58cc-4372-a567-0e02b2c3d479"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "The given data was invalid."
                                        },
                                        "errors": {
                                            "properties": {
                                                "from_date": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "The from date field is required."
                                                    }
                                                },
                                                "to_date": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "The to date field is required."
                                                    }
                                                },
                                                "lang": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "The selected language is invalid. Allowed values: 'en', 'de'."
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Internal Server Error."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": [],
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/v1/vat/certificates/download/{exportId}": {
            "get": {
                "tags": [
                    "VAT"
                ],
                "summary": "Download VAT Certificates Export",
                "description": "Downloads the requested VAT certificates export (ZIP archive with certificates or single PDF list) if it belongs to the authenticated company.",
                "operationId": "downloadVatCertificatesBulkExport",
                "parameters": [
                    {
                        "name": "exportId",
                        "in": "path",
                        "description": "The unique identifier of the export job",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
[...]
